.container
    .jumbotron
        h1 TeamCity test project!
        h6 created in Linden Colombia and build with TeamCity CI
        h6.text-right Linden Colombia &copy; 2014
        h6.text-right This is a demo project
        h6.text-right Open Source