extends ../includes/layout
block main-content
    .navbar.navbar-fixed-top
        .container
            .navbar-collapse.collapse
                div(ng-include="'/partials/auth/partials/navbar-login'")

    section.content
        div(ui-view)
