doctype html
html
    head
        title teamcity-demo-project
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.min.css")
        link(rel="stylesheet", href="/assets/css/styles.css")
    body()
        block main-content
        include scripts